@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 22s linear infinite;
}

html, body {
  margin: 0;
  padding: 0;
}
